*{
    box-sizing: border-box;
  }
  
.main{
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: aquamarine;
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.home{
    position: relative;
    width: 67%;
    height: 50%;
    background-color: blue;
    align-items:center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 5px 10px black ;
    transform: perspective(600px);
}

input{
    text-align:center; 
}

