*{
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  
.main{
    margin: 0;
    padding: 1rem;
    position: absolute;
    background-image: url('../assets/bg6.png');
    background-position: center;
    background-size:auto;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.home{
    position: relative;
    width: 15rem;
    height: auto;
    background-color: rgb(247, 246, 246,0.45);
    backdrop-filter: blur(15px);
    align-items:center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 5px 10px black ;
    transform: perspective(600px);
    padding: 1rem;
}

.title{
    position: relative;
    font-size: 50px;
    text-align: center;
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px #ffa200, 2px 2px #22ff00;
}

.ticket{
    display: flex;
    background-image: url('../assets/flydapp.gif');
    background-position: center;
    background-size:16rem 17rem;
    height: 17rem;
    width: 16rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px black ;
    margin: 1rem;
}

input{
    text-align:center; 
    width: 3rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(247, 246, 246,0.45);
    backdrop-filter: blur(10px);
}

.options{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.button{
    background-color: rgb(247, 246, 246,0.45);
    backdrop-filter: blur(10px);
    display: inline-block;
    box-shadow: 0 5px 10px black ;
    transition-duration: 0.4s;
    border-radius: 15%;
    border: 3px solid #000000;
    padding: 4px 12px;
    font-size: 26px;
    color: #000000;
    margin: 1rem;
}

.button:active {
    background-color: #af934c;
  }

.plus{
    width: 2rem;
    height: 2rem;
    border: 3px solid #000000;
    background-color: rgb(247, 246, 246,0.45);
    backdrop-filter: blur(10px);
    border-radius: 15%;
    transition-duration: 0.4s;
}

.minus{
    width: 2rem;
    height: 2rem;
    border: 3px solid #000000;
    background-color: rgb(247, 246, 246,0.45);
    backdrop-filter: blur(10px);
    border-radius: 15%;
    transition-duration: 0.4s;
}

.plus:active{
    background-color: #af9e4c;
}

.minus:active{
    background-color: #af9e4c;
}